@font-face {
	font-family:cartoonNetwork;
	src:url(./Cartoon\ Slam.ttf);
}
@font-face {
	font-family:adelia;
	src:url(./ADELIA.otf);
}
html{
    background-color:#1a1a1a;
    overflow:hidden;
    background-image:url(./blackWhite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin:0%;
}
h1{
    margin-bottom:0%;
    text-align: center;
    font-family: cartoonNetwork;
    font-size: 3vw;
    padding-top: 1vw;
    padding-bottom: 0%;
    padding-left: 1vw;
    padding-right: 1vw;
}
h2{
    background-color:white;
    text-align: center;
    color:rgb(0, 0, 0);
    display: block;
    border: 5px black solid;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
    font-family: adelia;
    width:15vw;
    padding:1vw;
}
.flex{
    display:flex;
    text-align: center;
    margin-left: 31.5vw;
    margin-right: auto;
}
.black{
    color:rgb(0, 0, 0);
}
.white{
    color:white;
}
p{
    color:aqua;
    weight:500;
}
#grid{
    /*width:100%;
    display: grid;
    align-items: center;
    grid-template-columns:10% 20% 40% 20% 10%*/
    margin-top:5vw;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}

.pictureOut{
    /*margin-top: 0vw;*/
    width:10vw;
    height:5vw;
    display:block;
    margin-left: auto;
    opacity:0.3;
    margin-right: auto;
    
}
.pictureMiddle{
    
    /*margin-top: 5vw;*/
    width:20vw;
    height:10vw;
    opacity:0.5;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.pictureVorne{
    border-top: solid 0.4vw black ;
    border-bottom: solid 0.4vw rgb(0, 0, 0);
    border-left: solid 0.4vw rgb(0, 0, 0);
    border-right: solid 0.4vw rgb(0, 0, 0);
    /*margin-top: 10vw;*/
    width:30vw;
    height:20vw;
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}
#buttonsBottom{
    display:flex;
    font-size: 5vw;
    margin-right: 2vw;
    margin-left:43vw;
    color:white;
    
}
#buttonsBottom p{
    margin: 2vw;
    font-weight:200;
}
.pictureOut .whiteBorder{
    border: solid 0.2vw rgb(0, 0, 0) ;
}
div.blackBorder{
    border: solid 0.2vw rgb(0, 0, 0) ;
}
#buttonsBottom p#white{
    color:black;
    transition:0.5s;
}
#buttonsBottom p#white:hover{
    font-weight:1000;
    transition: 0.5s;
}
#buttonsBottom p#black{
    color:white;
    transition:0.5s;
}
#buttonsBottom p#black:hover{
    font-weight:1000;
    transition:0.5s;
}
#pfeilRight{
    background-image: url(./pfeil-nach-rechts.png);
}